#header {
  height: 200px;
  width: auto;
  background-color: greenyellow;
}

#welcome--tag {
  padding-left: 230px;
  margin: 0;
  text-align: center;
  font-size: 65px;
  background-color: greenyellow;
  z-index: 100;
}
